<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256094774409-7aigvph0uhtfp0kio017s7e1cloub43p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256094774409-7aigvph0uhtfp0kio017s7e1cloub43p</string>
	<key>API_KEY</key>
	<string>AIzaSyChNVgDaboJGIPmDLq7su8aSI5nrgCXvhw</string>
	<key>GCM_SENDER_ID</key>
	<string>256094774409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joongkyu.jaksim-ios</string>
	<key>PROJECT_ID</key>
	<string>jaksim-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>jaksim-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256094774409:ios:79df6383a30102bd889258</string>
</dict>
</plist>